@font-face {
  font-family: 'askeyicon';
  src:  url('../font/askeyicon.eot?2bg2jo');
  src:  url('../font/askeyicon.eot?2bg2jo#iefix') format('embedded-opentype'),
    url('../font/askeyicon.ttf?2bg2jo') format('truetype'),
    url('../font/askeyicon.woff?2bg2jo') format('woff'),
    url('../font/askeyicon.svg?2bg2jo#askeyicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.askeyicon {
  display: inline-block;
  font: normal normal normal 14px/1 askeyicon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.askeyicon-admin_A:before {
  content: "\e900";
}
.askeyicon-admin_B:before {
  content: "\e901";
}
.askeyicon-advance_A:before {
  content: "\e902";
}
.askeyicon-advance_B:before {
  content: "\e903";
}
.askeyicon-capacity_A:before {
  content: "\e904";
}
.askeyicon-capacity_B:before {
  content: "\e905";
}
.askeyicon-clients-status_A:before {
  content: "\e906";
}
.askeyicon-clients-status_B:before {
  content: "\e907";
}
.askeyicon-clients_tab:before {
  content: "\e908";
}
.askeyicon-clients_tab_A:before {
  content: "\e909";
}
.askeyicon-config_printer_A:before {
  content: "\e90a";
}
.askeyicon-config_printer_B:before {
  content: "\e90b";
}
.askeyicon-dashboard_A:before {
  content: "\e90c";
}
.askeyicon-dashboard_B:before {
  content: "\e90d";
}
.askeyicon-directory_A:before {
  content: "\e90e";
}
.askeyicon-directory_B:before {
  content: "\e90f";
}
.askeyicon-file-system-check_A:before {
  content: "\e910";
}
.askeyicon-file-system-check_B:before {
  content: "\e911";
}
.askeyicon-firewall_A:before {
  content: "\e912";
}
.askeyicon-firewall_B:before {
  content: "\e913";
}
.askeyicon-format_A:before {
  content: "\e914";
}
.askeyicon-format_B:before {
  content: "\e915";
}
.askeyicon-general_A:before {
  content: "\e916";
}
.askeyicon-general_B:before {
  content: "\e917";
}
.askeyicon-IPV6_A:before {
  content: "\e918";
}
.askeyicon-IPV6_B:before {
  content: "\e919";
}
.askeyicon-jobs_printer-jobs_A:before {
  content: "\e91a";
}
.askeyicon-jobs_printer-lobs_B:before {
  content: "\e91b";
}
.askeyicon-lan_A:before {
  content: "\e91c";
}
.askeyicon-lan_B:before {
  content: "\e91d";
}
.askeyicon-language_A:before {
  content: "\e91e";
}
.askeyicon-language_B:before {
  content: "\e91f";
}
.askeyicon-multicast_A:before {
  content: "\e920";
}
.askeyicon-multicast_B:before {
  content: "\e921";
}
.askeyicon-notification_A:before {
  content: "\e922";
}
.askeyicon-notification_B:before {
  content: "\e923";
}
.askeyicon-parental-control_A:before {
  content: "\e924";
}
.askeyicon-parental-control_B:before {
  content: "\e925";
}
.askeyicon-qos_A:before {
  content: "\e926";
}
.askeyicon-qos_B:before {
  content: "\e927";
}
.askeyicon-realtime_red_A:before {
  content: "\e928";
}
.askeyicon-realtime_red_B:before {
  content: "\e929";
}
.askeyicon-router_tab_A:before {
  content: "\e92a";
}
.askeyicon-router_tab_B:before {
  content: "\e92b";
}
.askeyicon-s.m.a.r.t_A:before {
  content: "\e92c";
}
.askeyicon-s.m.a.r.t_B:before {
  content: "\e92d";
}
.askeyicon-safe-remove_A:before {
  content: "\e92e";
}
.askeyicon-safe-remove_B:before {
  content: "\e92f";
}
.askeyicon-share_A:before {
  content: "\e930";
}
.askeyicon-share_B:before {
  content: "\e931";
}
.askeyicon-storage_A:before {
  content: "\e932";
}
.askeyicon-storage_B:before {
  content: "\e933";
}
.askeyicon-syatem_B:before {
  content: "\e934";
}
.askeyicon-system_A:before {
  content: "\e935";
}
.askeyicon-system_red_A:before {
  content: "\e936";
}
.askeyicon-system_red_B:before {
  content: "\e937";
}
.askeyicon-vpn_A:before {
  content: "\e938";
}
.askeyicon-vpn_B:before {
  content: "\e939";
}
.askeyicon-wake-on-lan_A:before {
  content: "\e93a";
}
.askeyicon-wake-on-lan_B:before {
  content: "\e93b";
}
.askeyicon-wan_A:before {
  content: "\e93c";
}
.askeyicon-wan_B:before {
  content: "\e93d";
}
.askeyicon-WAN_tab_A:before {
  content: "\e93e";
}
.askeyicon-WAN_tab_B:before {
  content: "\e93f";
}
.askeyicon-wireless_A:before {
  content: "\e940";
}
.askeyicon-wireless_B:before {
  content: "\e941";
}

